* {
    margin: 0;
    padding: 0;
}



.gallery-container a div {
    width: 300px;
    height: 235px;
    /*background-color: red;*/
    background-position :center;
    background-repeat :no-repeat;
    background-size: cover;
}
.gallery-container{
    display: flex;
    /*display: block;*/
    /*float: left;*/
    /*width: 33.33%*/;
    flex-flow:row wrap;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    /*align-content: space-around;*/
    /*flex-flow: row column*/;
    justify-content: center;
    /*align-content:space-between;*/
}*/

.gallery-container a:hover
{
    opacity: 0.8;
}

